<!DOCTYPE html>
<html>
  <head>
    <title>NailArtMatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-light navbar-fixed-top navbar-expand-lg">
      <div class="navbar-header">
        <%= link_to root_path do %>
          <i class="far fa-hand-peace">Nail Art Match</i>
        <% end %>
      </div>
      <% if user_signed_in? %>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item"><%= link_to "About", about_path, class: "btn btn-outline-secondary mr-4" %></li>
        <li class="nav-item"><%= link_to "マイページ", user_path(current_user.id) ,class: "btn btn-outline-secondary mr-4"%></li>
        <li class="nav-item"><%= link_to "新規投稿", new_post_image_path ,class: "btn btn-outline-secondary mr-4"%></li>
        <li class="nav-item"><%= link_to "投稿一覧", post_images_path ,class: "btn btn-outline-secondary mr-4" %></li>
        <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete ,class: "btn btn-outline-secondary mr-4"%></li>
      </ul>
      <% else %>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item"><%= link_to "About", about_path, class: "btn btn-outline-secondary mr-4" %></li>
        <li class="nav-item"><%= link_to "新規登録",new_user_registration_path, class: "btn btn-outline-secondary mr-4"%></li>
        <li class="nav-item"><%= link_to "ログイン",new_user_session_path ,class: "btn btn-outline-secondary mr-4"%></li>
      </ul>
      <% end %>
      <div class="search-form">
      <%= form_with url: search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索" %>
      <% end %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>